<head>
<script src="~/js/site.js"type="text/javascript"></script>
</head>
<body>
    <div id="chessBoard" class="center">
        @for (int a = 8; a > 0; a--)
        {
            @for (int b = 1; b < 9; b++)
            {
                @if (a % 2 != b % 2)
                {
                    <div id="@(a)-@(b)" class="boxDark chess">
                    </div>
                }
                else
                {
                    <div id="@(a)-@(b)" class="boxBright chess">
                    </div>
                }
            }
        }
    </div>
</body>
