@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">"Chess Online Welcome"</h1>
    <button onclick="window.location.href='@Url.Action("ChessBoard", "Home")'">Vai Alla W8ting page
    </button>
</div>
