.chess {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.firstMove {
}
.White {
}
.Black {
}
.WhitePawn {
    content: url('pieces/WhitePawn.png');
}
.BlackPawn {
    content: url('pieces/BlackPawn.png')
}
.WhiteBishop {
    content: url('pieces/WhiteBishop.png');
}
.BlackBishop {
    content: url('pieces/BlackBishop.png')
}
.WhiteKnight {
    content: url('pieces/WhiteKnight.png');
}
.BlackKnight {
    content: url('pieces/BlackKnight.png')
}
.WhiteRook {
    content: url('pieces/WhiteRook.png');
}
.BlackRook {
    content: url('pieces/BlackRook.png')
}
.WhiteQueen {
    content: url('pieces/WhiteQueen.png');
}
.BlackQueen {
    content: url('pieces/BlackQueen.png')
}
.WhiteKing {
    content: url('pieces/WhiteKing.png');
}
.BlackKing {
    content: url('pieces/BlackKing.png')
}
.clicable {
    cursor: pointer;
}
.movable {
    border: 3px solid green;
    cursor: pointer;
}
.clicked {
    border: 3px solid blue;
}
.eatable {
    border: 3px solid red;
}
.castling {
    border: 3px solid violet;
    cursor: pointer;
}
#chessBoard {
    width: 642px;
    height: 642px;
    border: 1px solid black;
}
.center {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.boxDark {
    padding: 0px;
    width: 80px;
    height: 80px;
    background-color: #ff6a00
}
.boxBright {
    padding: 0px;
    width: 80px;
    height: 80px;
    background-color: #fdf5e6
}
